# URL conection DB
MONGO_URI=
# Secret or private key JWT  
SECRET_JWT=
#Token api
API_ADMIN_TOKEN=
# RABBITMQ server connection address
URL_RABBITMQ_SERVER=
# RABBITMQ queue(order processing) name
ORDER_QUEUE_NAME=
#TOKEN API
STAFF_TOKEN=